---
layout: archive
author_profile: false
header:
  image: iceberg-cliff.jpg
---

{% include base_path %}

rddtools is an R package for regression discontinuity design. 

It features data visualisation, parametric and non-parametric analysis, bandwidth sensivity plots and placebo plots. 

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
